:root {
    --color-theme-light: #EAEFEF;
    --color-theme-light-mid: #B8CFCE;
    --color-theme-dark-mid: #7F8CAA;
    --color-theme-dark: #333446;
    
    --color-theme-text: #1E1E1E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    background-color: lightblue;
}

/* Header */
header {
    display: flex;
    flex-direction:column;

    border-bottom: .2rem solid var(--color-theme-dark);
    background: var(--color-theme-light);
}

.header-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;

    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-theme-dark);
}


/* Nav */
nav {
    display: flex;;
    width: 100%;
    height: 5rem;
    background: var(--color-theme-light);
}

nav ul {
    display: flex;;
    flex-direction: row;
    justify-content:space-around;
    gap: 2.5rem;

    width: 100%;
    margin: 0;
    padding: 0 1rem;
    
    font-size: 1rem;
    font-weight: 900;
    list-style: none;
    color:  var(--color-theme-dark);
    text-shadow: .15rem .15rem .1rem rgba(0,0,0,0.20);
}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 fit-content;
    
    padding: 0;
}

nav li a {
    display: flex;
    justify-content: center;

    padding: 1rem;

    align-items: center;
    text-decoration: none;
    color:  var(--color-theme-dark);
}

nav li#navSearch {
    display: flex;
    flex-direction: column;

    align-items: end;
    justify-content: center;
    flex: 1 1 auto;
    padding: 0 .8rem;
}

nav li#navSearch input {
    width: 100%;
    max-width: 20rem;
    padding: 0.25rem;
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: right;
    border: none;
    border-bottom:  var(--color-theme-dark) .2rem solid;   
    background: transparent;
}

nav li#navSearch input:focus {
    font-size: 1rem;
    outline: none;
    border-bottom: var(--color-theme-text) .2rem solid;   
    background: transparent;
}

nav li button#navThemeToggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .8rem;
    font-size: 1rem;
    text-shadow: .15rem .15rem .1rem rgba(0,0,0,0.20);
    border: none;
    background: transparent;
}


/* front Page */
/*

For table or higher.

.front-page-nav {
    position: fixed;
    inset: 1rem 1rem auto;
    z-index: 1000;
    border-top: .2rem solid rgba(255, 255, 255, 0.3);
    border-left: .1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
*/
